[submodule "frontend"]
	path = frontend
	url = https://github.com/MatFit/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/MatFit/backend.git
[submodule "python_microservices"]
	path = python_microservices
	url = https://github.com/MatFit/python_microservices.git
